.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 180px;
}